@import './panel-tool.css';

#box-canvas,
#curve-canvas {
    aspect-ratio: 1.1 / 1;
}

#play {
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
    font-size: var(--font-size-small);
}
