#input-section, #results-section {
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: center;
    column-gap: 100px;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-group label {
    width: 300px;
}

.input-group input {
    flex: 1;
    padding: 5px;
}

#visualization-section {
    text-align: center;
}

#mohrCanvas {
    border: 1px solid #ccc;
}

.column {
    min-width: 300px;
    /* display: inline-block; */
    /* vertical-align: top; */
    /* width: 50%; */
    /* padding-: 50px; */
}