.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
}

.ruler-container {
    margin-bottom: 40px;
    position: relative;
}

.axis-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.ruler {
    height: 40px;
    background-color: #e0e0e0;
    position: relative;
    border-radius: 5px;
}

.ruler::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: #333;
}

.ruler::before {
    left: 0;
}

.ruler::after {
    right: 0;
}

.mark {
    background-color: #000;
    width: 2px;
    position: absolute;
    top: 0;
    bottom: 0;
}

.label {
    position: absolute;
    top: 45px; /* Below the ruler */
    transform: translateX(-50%);
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
}

#void-ratio .mark, #porosity .mark, #solid-fraction .mark {
    height: 100%;
}

.vertical-line {
    position: absolute;
    top: 23px;
    left: 0;
    height: calc(100% - 62px);
    width: 2px;
    background-color: red;
    z-index: 10;
    pointer-events: none;
    display: none;
}

/* Style for the numeric markers */
.marker {
    position: absolute;
    top: 40px; /* Below the ruler labels */
    font-size: 12px;
    margin-left: 10px;
    /* padding-bottom: 300px; */
}